/* footer */
.footer-content {
  display: flex;
  padding: 4rem;
  background-color: #101010;
  justify-content: center;
  align-items: center;
}

.footer-content a {
  color: #b4b4be;
}

.footer-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  color: #b4b4be;
  font-size: 0.8rem;
  white-space: pre;
  max-width: 800px;
}

.footer-social {
  width: 30px;
  height: 30px;
  margin-right: 0.7rem;
}

.footer-title {
  color: white;
  font-weight: bold;
  padding-bottom: 1rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-item {
  padding-bottom: 1rem;
}

.footer-copyright {
  font-size: 0.7rem;
}

@media only screen and (max-width: 900px) {
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-content {
    padding: 1.5rem;
  }
}

/* buttons */
.button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.2em;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0;
  margin-right: 10px;
  margin-top: 20px;
  min-width: 160px;
  border: 1px solid #4967ff;
  color: #4967ff;
}
.button-primary, .button:hover {
  background-color: #4967ff;
  color: #ffffff;
}
.button-dark {
  color: #101010;
  border-color: rgba(0, 0, 0, 0.125);
}
.button-dark2 {
  background-color: #101010;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.125);
}
.button-primary:hover,
.button-dark:hover,
.button-dark2:hover {
  background-color: #101010;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.125);
}

/* colors */
.dark {
  background-color: #101010;
  color: #ffffff;
}
.dark-light {
  background-color: #36363e;
  color: #ffffff;
}
.smoke {
  background-color: #585868;
  color: #ffffff;
}
.text-dark-light {
  color: #36363e;
}
.text-smoke {
  color: #585868;
}
.text-primary {
  color: #4967ff;
}
.text-underlined {
  text-decoration: underline;
}
.text-md {
  font-size: 1.25rem;
}
.text-lg {
  font-size: 2rem;
}
small,
.text-sm,
.text-md,
.text-lg {
  font-weight: 300;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.home {
  background-color: #f7f7f7;
  border-bottom: 1.5px #f1f1f1 solid;
  padding: 8% 0;
}

.tabs,
.nav-tabs {
  border: none;
}

/* rebrand */

body {
  color: #36363E;
}

blockquote {
  border-left: 8px solid #F0BA31;
}

a {
  color: #4967ff;
}

.fixedHeaderContainer,
.navigationSlider .slidingNav ul li > a:focus,
.navigationSlider .slidingNav ul li > a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background-color: #4967ff;
}