.footer-content {
  display: flex;
  padding: 4rem;
  background-color: #02060a;
  justify-content: center;
  align-items: center;
}

.footer-content a {
  color: #858a9a;
}

.footer-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  color: #858a9a;
  font-size: 0.8rem;
  white-space: pre;
  max-width: 800px;
}

.footer-social {
  width: 30px;
  height: 30px;
  margin-right: 0.7rem;
}

.footer-title {
  color: white;
  font-weight: bold;
  padding-bottom: 1rem;
}

.footer-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-item {
  padding-bottom: 1rem;
}

.footer-copyright {
  font-size: 0.7rem;
}

@media only screen and (max-width: 900px) {
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-content {
    padding: 1.5rem;
  }
}
